version: '2'

volumes:
  postgresdb:
  redisdb:
  uploads:

services:

  # production-nginx-container:
    # container_name: 'production-nginx-container'
    # image: nginx:latest
    # ports:
    #   - "80:80"
    #   - "443:443"
    # volumes:
    #   - ./production.conf:/etc/nginx/conf.d/default.conf
    #   - ./production-site:/usr/share/nginx/html
    #   - ./dh-param/dhparam-2048.pem:/etc/ssl/certs/dhparam-2048.pem
    #   - /docker-volumes/etc/letsencrypt/live/cartodb.spatial-labs.com/fullchain.pem:/etc/letsencrypt/live/cartodb.spatial-labs.com/fullchain.pem
    #   - /docker-volumes/etc/letsencrypt/live/cartodb.spatial-labs.com/privkey.pem:/etc/letsencrypt/live/cartodb.spatial-labs.com/privkey.pem
    #   #for certbot challenges
    #   - /docker-volumes/data/letsencrypt:/data/letsencrypt
    # networks:
    #   - docker-network
  cartodb-postgis:
    #image: sabman/ihmeuw-cartodb-docker_cartodb-postgis
    container_name: cartodb-postgis
    build:
      context: postgis
    volumes:
      - postgresdb:/var/lib/postgresql/data
  cartodb-redis:
    #image: sabman/ihmeuw-cartodb-docker_cartodb-redis
    container_name: cartodb-redis
    build:
      context: redis
    volumes:
      - redisdb:/var/lib/redis
  cartodb-sqlapi:
    #image: sabman/ihmeuw-cartodb-docker_cartodb-sqlapi
    depends_on:
      - cartodb-postgis
      - cartodb-redis
    container_name: cartodb-sqlapi
    build:
      context: sqlapi
    command: $ENVIRONMENT.js.example
    environment:
      - ENVIRONMENT
  cartodb-mapsapi:
    #image: sabman/ihmeuw-cartodb-docker_cartodb-mapsapi
    depends_on:
      - cartodb-postgis
      - cartodb-redis
    container_name: cartodb-mapsapi
    build:
      context: mapsapi
    command: $ENVIRONMENT.js.example
    environment:
      - PUBLIC_HOST
      - PUBLIC_PORT
      - ENVIRONMENT
  cartodb-editor:
    image: sabman/ihmeuw-cartodb-docker_cartodb-editor
    depends_on:
      - cartodb-postgis
      - cartodb-redis
      - cartodb-mapsapi
      - cartodb-sqlapi
    container_name: cartodb-editor
    build:
      context: editor
      args:
        - RAILS_ENV=$ENVIRONMENT
    volumes:
      - uploads:/cartodb/public/uploads
      - ./migrated:/migrated
    environment:
      - PUBLIC_HOST
      - PUBLIC_PORT
      - DEFAULT_USER
      - DEFAULT_PASSWORD
  cartodb-resque:
    image: sabman/ihmeuw-cartodb-docker_cartodb-editor
    depends_on:
      - cartodb-postgis
      - cartodb-redis
      - cartodb-mapsapi
      - cartodb-sqlapi
    container_name: cartodb-resque
    environment:
      - START_RESQUE_ONLY=1
      - PUBLIC_HOST
      - PUBLIC_PORT
      - DEFAULT_USER
      - DEFAULT_PASSWORD
      - ENVIRONMENT
    volumes_from:
      - cartodb-editor
  cartodb-router:
    #image: sabman/ihmeuw-cartodb-docker_cartodb-router
    depends_on:
      - cartodb-mapsapi
      - cartodb-sqlapi
      - cartodb-editor
    container_name: cartodb-router
    build:
      context: router
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./router/cartodb.nginx.proxy.conf:/etc/nginx/conf.d/default.conf
      - ./production-site:/usr/share/nginx/html
      - ./dh-param/dhparam-2048.pem:/etc/ssl/certs/dhparam-2048.pem
      - /docker-volumes/etc/letsencrypt/live/cartodb.spatial-labs.com/fullchain.pem:/etc/letsencrypt/live/cartodb.spatial-labs.com/fullchain.pem
      - /docker-volumes/etc/letsencrypt/live/cartodb.spatial-labs.com/privkey.pem:/etc/letsencrypt/live/cartodb.spatial-labs.com/privkey.pem
      #for certbot challenges
      - /docker-volumes/data/letsencrypt:/data/letsencrypt

networks:
  docker-network:
    driver: bridge

