ENVIRONMENT=production
DOMAINS=somewhere.com
EMAIL=domainowner@email.com
PUBLIC_HOST=somewhere.com
PUBLIC_PROTOCOL=https
PUBLIC_PORT=443
DEFAULT_USER=username
DEFAULT_PASSWORD=password
POSTGRES_USER=postgres
